<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resume</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <style>
        main {
            padding-left: 240px;
        }

        @media only screen and (max-width: 992px) {
            main {
                padding-left: 0;
            }
        }
        .circle-profile-image {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        margin: 20px auto;
        display: block;
    }

    </style>
</head>

<body>
    <header>
        <ul id="slide-out" class="sidenav sidenav-fixed">
            <li>
                <div class="header">
                    <img src="https://dummyimage.com/100x100" alt="Profile Image" class="circle-profile-image">
                </div>
            </li>
            <li><a href="#" class="brand-logo">Profile</a></li>
            <li><a href="#experience">Experience</a></li>
            <li><a href="#skills">Skills</a></li>
            <li><a href="#education">Education</a></li>
            <li><a href="#connect">Connect</a></li>

        </ul>
        <nav class="blue darken-2">
            <div class="nav-wrapper">
                <a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a>
                <a href="#" class="brand-logo">Resume</a>
            </div>
        </nav>
    </header>

    <main>
        <section id="profile" class="section">
            <div class="container">
                <h3>About Me</h3>
                <p style="text-align: justify;">
                    Welcome to my resume site! I am a licensed electronics engineer with a primary focus on site support. However, my true passion lies in programming, server administration, and Linux.

                    As a dedicated site support professional, I have honed my skills in troubleshooting, maintaining, and optimizing various systems. I have a deep understanding of the technical aspects required to ensure smooth operations and resolve any issues that may arise.

                    Beyond my core responsibilities, I have a strong affinity for programming and possess expertise in languages such as Django, CSS, HTML, and JavaScript. I enjoy leveraging my programming skills to create innovative solutions and enhance user experiences.

                    Moreover, I have extensive experience in server administration, particularly with Linux systems. I am adept at managing server environments, implementing security measures, and optimizing performance to achieve efficient and reliable operations.

                    My ability to balance site support duties with my passion for programming, servers, and Linux allows me to bring a unique perspective to my work. I am driven by continuous learning and staying up to date with the latest industry trends to provide the best possible solutions.

                    Feel free to explore my portfolio and reach out to me with any inquiries or collaboration opportunities. I am eager to discuss how my diverse skill set can contribute to your team or project.
                </p>
            </div>
        </section>

        <section id="experience" class="section grey lighten-3">
            <div class="container">
                <h3>Experience</h3>
                <div class="card">
                    <div class="card-content">
                        <h5>Site Support Specialist - Auckland Council</h5>
                        <p>August 2021 - Present</p>
                        <ul>
                            <li>Responsible for providing predominately first and second line end-user computing support and excellent customer service to users at all Council locations</li>
                            <li>Fine-tuning basic software, network, device and printing problems</li>
                            <li> Installation, configuration and ongoing usability of computer and communication devices, peripheral equipment and software</li>
                            <li>Provide an onsite contact, at any Council site, for other ICT teams to help resolve customer issues</li>
                            <li>Deliver excellent customer service to all internal Council staff at all Council locations</li>
                        </ul>
                    </div>
                </div>

                <div class="card">
                    <div class="card-content">
                        <h5>Desktop/Network Technicain - New Era Technology</h5>
                        <p>October 2020 - July 2021</p>
                        <ul>
                            <li>Provide excellent customer service and support and provide solutions to all clients, both internal and external</li>
                            <li> To provide quality onsite and remote support and issue resolution.</li>
                            <li>Monitoring jobs logged via the helpdesk through Connectwise</li>
                            <li>Primary point person for any Computer Hardware and software issues arise, mobile devices and phone systems</li>
                            <li>Assisting and adapting to implementation of new and existing computer network rollouts and upgrades.</li>
                            <li>School System Management (KAMAR, Print Servers, Inventory)</li>
                        </ul>
                    </div>
                </div>

                <div class="card">
                    <div class="card-content">
                        <h5>Field ICT Support Staff - Smartlogic NZ</h5>
                        <p>August 2019 - October 2020</p>
                        <ul>
                            <li>Provide thorough support and problem resolution for client’s inquiries in hardware and software issues for numerous devices and operating systems including Windows, MacOs, iOS and Android devices via phone and remote support</li>
                            <li>Served as initial point of contact for client inquiries to any hardware related issues including computer hardware upgrade, parts replacement, computer assembly, printer installation, setup and deployment.</li>
                            <li>Network set up, configuration and troubleshooting</li>
                            <li>Performed scheduled monthly maintenance to clients server and workstations, onsite and offsite backup.</li>
                            <li>Office 365 user management</li>
                            <li> Medtech 32 support for clinics including installation, updates, network connectivity and contact necessary person</li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>

        <section id="skills" class="section">
            <div class="container">
                <h3>Skills</h3>
                
            </div>
        </section>

        <section id="education" class="section grey lighten-3">
            <div class="container">
                <h3>Education</h3>
                <ul class="collection">
                    <li class="collection-item">HTML</li>
                    <li class="collection-item">CSS</li>
                    <li class="collection-item">JavaScript</li>
                    <li class="collection-item">React</li>
                    <li class="collection-item">Node.js</li>
                </ul>
            </div>
        </section>
    </main>

    <footer class="section blue darken-2 white-text center-align">
        <div class="container">
            <p>&copy; 2023 John Doe. All rights reserved.</p>
        </div>
    </footer>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var elems = document.querySelectorAll('.sidenav');
            var instances = M.Sidenav.init(elems);
        });
    </script>
</body>

</html>
