{% extends 'base.html' %}

{% load static %}

{% block title %} ChrisAncheta {% endblock %}

{% block content %}
    <section id="profile" class="section">
        <div class="container">
            <h3>About Me</h3>
            <p style="text-align: justify;">
                Greetings! As an experienced ICT Site Support Specialist, I bring a wealth of expertise in providing top-notch technical support and ensuring the smooth functioning of operations for users. With a strong background in hardware, software, and network troubleshooting, I thrive in dynamic environments where I can utilize my skills to swiftly resolve complex issues and deliver outstanding results.

Throughout my career, I have adeptly managed and resolved a diverse range of technical challenges, both on-site and remotely. I take pride in delivering exceptional customer service and maintaining positive relationships with users by promptly addressing their concerns and providing effective solutions tailored to their needs.

My skill set encompasses various areas, including hardware and software installation, configuration, and maintenance. I possess in-depth knowledge of troubleshooting network connectivity issues, managing user accounts, and providing comprehensive support for Microsoft applications and operating systems.

In addition to my technical acumen, I am known for my strong communication and problem-solving abilities, enabling me to collaborate seamlessly with cross-functional teams and adapt swiftly to evolving technologies. I maintain an insatiable appetite for learning, staying abreast of the latest advancements in the ever-evolving ICT industry.

If you seek a dedicated ICT Site Support Specialist who can ensure uninterrupted operations and deliver exceptional user experiences, I would be thrilled to connect and explore potential opportunities for collaboration.
            </p>
        </div>
    </section>

    <section id="experience" class="section grey lighten-3">
        <div class="container">
            <h3>Experience</h3>
            <div class="card">
                <div class="card-content">
                    <h5>
                        <img src="{% static 'img/aclogo.png'%}" style="width:100px"><img/>Site Support Specialist - Auckland Council
                    </h5>
                    <p>August 2021 - Present</p>
                    <ul>
                        <li>Responsible for providing predominately first and second line end-user computing support and excellent customer service to users at all Council locations</li>
                        <li>Fine-tuning basic software, network, device and printing problems</li>
                        <li> Installation, configuration and ongoing usability of computer and communication devices, peripheral equipment and software</li>
                        <li>Provide an onsite contact, at any Council site, for other ICT teams to help resolve customer issues</li>
                        <li>Deliver excellent customer service to all internal Council staff at all Council locations</li>
                    </ul>
                </div>
            </div>

            <div class="card">
                <div class="card-content">
                    <h5>
                        <img src="{% static 'img/newera.png'%}" style="width:100px"><img/>
                        Desktop/Network Technicain - New Era Technology</h5>
                    <p>October 2020 - July 2021</p>
                    <ul>
                        <li>Provide excellent customer service and support and provide solutions to all clients, both internal and external</li>
                        <li> To provide quality onsite and remote support and issue resolution.</li>
                        <li>Monitoring jobs logged via the helpdesk through Connectwise</li>
                        <li>Primary point person for any Computer Hardware and software issues arise, mobile devices and phone systems</li>
                        <li>Assisting and adapting to implementation of new and existing computer network rollouts and upgrades.</li>
                        <li>School System Management (KAMAR, Print Servers, Inventory)</li>
                    </ul>
                </div>
            </div>

            <div class="card">
                <div class="card-content">
                    <h5>
                        <img src="{% static 'img/smartlogic.png'%}" style="width:100px"><img/>
                        Field ICT Support Staff - Smartlogic NZ</h5>
                    <p>August 2019 - October 2020</p>
                    <ul>
                        <li>Provide thorough support and problem resolution for client’s inquiries in hardware and software issues for numerous devices and operating systems including Windows, MacOs, iOS and Android devices via phone and remote support</li>
                        <li>Served as initial point of contact for client inquiries to any hardware related issues including computer hardware upgrade, parts replacement, computer assembly, printer installation, setup and deployment.</li>
                        <li>Network set up, configuration and troubleshooting</li>
                        <li>Performed scheduled monthly maintenance to clients server and workstations, onsite and offsite backup.</li>
                        <li>Office 365 user management</li>
                        <li> Medtech 32 support for clinics including installation, updates, network connectivity and contact necessary person</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <section id="education" class="section">
        <div class="container">
            <h3>Education</h3>
            <div class="card">
                <div class="card-content">
                    <h5>ICAgile Certified Professional (ICP)</h5>
                    <p>Auckland Council Building Level 29</p>
                    <p>April 2023</p>
                </div>
            </div>

            <div class="card">
                <div class="card-content">
                    <h5>ITIL 4 Foundation</h5>
                    <p>Auldhouse</p>
                    <p>May 2022</p>
                </div>
            </div>

            <div class="card">
                <div class="card-content">
                    <h5>Mariano MArcos State University - Philippines</h5>
                    <p>BS Electronics and Communications Engineering</p>
                    <p>2002 -2007</p>
                </div>
            </div>

        </div>    
    </section>

    <section id="skills" class="section grey lighten-3">
        <div class="container">
            <h3>Skills</h3>
            <ul class="collection">
                <li class="collection-item">Programming - HTML, Javascript, Django, LAravel</li>
                <li class="collection-item">Database - Postgresql, Mysql, MSSQL</li>
                <li class="collection-item">Windows Server /MS Active Directory and SCCM</li>
                <li class="collection-item">Operating System - Linux, MacOs, Windows</li>
                <li class="collection-item">ITIL and Agile Certifies</li>
                <li class="collection-item">Git, Docker, Proxmox</li>
            </ul>
        </div>
    </section>


    <section id="projects">
        <div class="container">
            <h3>Projects</h3>
            <ul class="collapsible">
                <li>
                    <div class="collapsible-header">
                        Dockinn Queueing System - Auckland Council
                    </div>
                    <div class="collapsible-body">
                        <span>
                            Features! <br>
                            1. Uses QR Code to lodge a Queue <br>
                            2. Realtime monitoring of Queue <br>
                            3. IT Dashboard for ICT staff <br>
                            4. Print Report <br>
                            5. Avaialble in Github and Docker Hub </b>
                            <p></p>
                            <a target="_blank" style="color: blue" href="https://dockinn.balaydalakay.com/">Click here to view site!<a/> <br>
                        </span>
                    </div>
                </li>

                <li>
                    <div class="collapsible-header">
                        Prepare Driving NZ - Quiz App
                    </div>
                    <div class="collapsible-body">
                        <span>
                            Driving question for NZ. Huge Database of questions that you can try.
                            Once done, it will show the result as well as percentage. It will also show how many questions you got as well as the inCorrect answers. <br>
                            Avaialble in Github and Docker Hub </b>

                            <p></p>
                            <a target="_blank" style="color: blue" href="https://preparedrivingnz.balaydalakay.com/">Click here to view site!<a/>
                        </span>
                    </div>
                </li>
                
                <li>
                    <div class="collapsible-header">
                        Rate or Service App
                    </div>
                    <div class="collapsible-body">
                        <span>
                            This app was made when I attended an Agile Training which the speaker manually asking us how do we rate him.
                            He draws 5 smiley in the board and ask what rate (from 1 - 5) we gave it to him. 
                            THe site has an admin panel, which you can ad speaker names and their corresponding topics.
                            Also there is a Bar graph that will show the breakdown of all the rate.  <br>
                            Avaialble in Github and Docker Hub </b>
                            <p></p>
                            <a target="_blank" style="color: blue" href="https://rateourservice.balaydalakay.com/">Click here to view site!<a/>
                        </span>
                    </div>
                </li>

                <li>
                    <div class="collapsible-header">
                        Kids Math Quiz App
                    </div>
                    <div class="collapsible-body">
                        <span>
                            This app is design for my 5 year old daughter. She needs to answer all the question, Addition, Subtraction and Multiplication in order to use the tablet for Youtube! <br>
                            Avaialble in Github and Docker Hub </b>
                            <p></p>
                            <a target="_blank" style="color: blue" href="https://kidsquizapp.balaydalakay.com/">Click here to view site!<a/> <br>
                        </span>
                    </div>
                </li>
              </ul>
        </div>
    </section>


{% endblock %}