{% extends 'base.html' %}

{% load static %}

{% block title %} ChrisAncheta {% endblock %}

{% block content %}
    <section id="profile" class="section">
        <div class="container">
            <h3>About Me</h3>
            <p style="text-align: justify;">
                Greetings! <br>
                With over a decade of experience in the information technology sector, I have cultivated a diverse skill set that spans IT support, server administration, web development, and networking. I recently concluded a successful 9-month secondment as an ICT Automation Specialist, where I focused on streamlining operations and enhancing productivity through automation. Now, I have resumed my role as a Site Support Specialist, continuing to deliver high-quality technical support and innovative solutions.

                Throughout my career, I have excelled in providing efficient technical assistance, both in-person and remotely, ensuring swift resolution of complex hardware and software issues. My expertise extends to managing Linux and Windows server environments, developing web solutions, and optimizing network infrastructure to improve operational efficiency. My professional objective is to drive continuous improvement and innovation within IT environments, contributing to the overall success of the organization.
            </p>
        </div>
    </section>

    <section id="experience" class="section grey lighten-3">
        <div class="container">
            <h3>Experience</h3>

            {% for comp in companies_with_experiences %}
                    <div class="card">
                        <div class="card-content">
                            <h5>
                                <img src="{{comp.logo.url}}" style="width:100px"><img/>{{comp.name}}
                            </h5>
                            <p style="font-size: 22px;">{{comp.title}}</p>

                            <p> 
                                {{ comp.hire_date }} - 
                                {% if comp.end_date %}
                                    {{ comp.end_date }}
                                {% else %}
                                    Present
                                {% endif %}
                            
                            </p>
                            <ul>
                                {% for experience in comp.experience_set.all %}
                                <li style="justify-content: center;">
                                    {{experience.description}}
                                </li>
                                {% endfor %}
                                
                            </ul>
                        </div>
                    </div>

           {% endfor %}

        </div>
    </section>

    <section id="education" class="section">
        <div class="container">
            <h3>Education and Trainings</h3>
            <div class="card">
                <div class="card-content">
                    <h5>ICAgile Certified Professional (ICP)</h5>
                    <p>Auckland Council Building Level 29</p>
                    <p>April 2023</p>
                </div>
            </div>

            <div class="card">
                <div class="card-content">
                    <h5>ITIL 4 Foundation</h5>
                    <p>Auldhouse</p>
                    <p>May 2022</p>
                </div>
            </div>

            <div class="card">
                <div class="card-content">
                    <img src="{% static 'img/iecep.png'%}" style="width:100px"><img/>
                    <h5>License Electronics Engineer</h5>
                    <p>Institute of Electronics Engineer of the Philippines</p>
                    <p>April 2009 - Present</p>
                </div>
            </div>

            <div class="card">
                <div class="card-content">
                    <img src="{% static 'img/mmsu.png'%}" style="width:100px"><img/>
                    <h5>Mariano MArcos State University - Philippines</h5>
                    <p>BS Electronics and Communications Engineering</p>
                    <p>2002 -2007</p>
                </div>
            </div>

        </div>    
    </section>

    <section id="skills" class="section grey lighten-3">
        <div class="container">
            <h3>Skills and Interest</h3>
            <p style="text-align: justify;">
                Home Lab Enthusiast: Devote personal time to a dynamic home lab environment. I enjoy tinkering with servers, writing code,
                 and utilizing open-source applications. This combination lets me explore and create within the realm of technology right from the comfort 
                 of my home.
            </p>
            
            <ul class="collection">
                {% for skill in skills %}
                <li class="collection-item">{{skill.name}}</li>
                {% endfor %}
            </ul>
        </div>
    </section>


    <section id="other">
        <div class="container">
            <h3>Showcase Skills</h3>
            <p style="text-align: justify"> 
                I design and deploy web applications with a focus on flexibility, performance, and local control. My tech stack includes Django for backend development, paired with HTML5, CSS, JavaScript, Bootstrap, and Materialize to create dynamic and responsive front-end interfaces.

                For deployment, I use Proxmox to virtualize and manage local servers, hosting on Ubuntu with Docker containers to ensure seamless application isolation. Postgres serves as the primary database, while Cloudflare provides reverse proxy services to enhance security and optimize traffic flow.
                
                In addition, I leverage Windows Server IIS for specific projects, utilizing both MSSQL and Postgres databases as required. By hosting locally, I maintain greater control over the environment, enabling robust, scalable, and secure application deployments.
                                    
            </p>
            <p style="text-align: justify;">
            <h3>Web Templates</h3>
            <ul class="collapsible">
                <li>
                    <div class="collapsible-header">
                        TopITSolutions | Personal Blog Site
                    </div>
                    <div class="collapsible-body">
                        <span>
                            This is my personal blogsite where i post most of the site i created through Django.
                            <p></p>
                            <a target="_blank" style="color: blue" href="https://topitsolutions.co.nz/">Click here to view site!<a/> <br>
                        </span>
                    </div>
                </li>

                <li>
                    <div class="collapsible-header">
                        Dockinn Queueing System - Auckland Council
                    </div>
                    <div class="collapsible-body">
                        <span>
                            Queueing System for ICT Tech Support is a powerful solution designed to streamline and manage queues. <br>
                            1. QR Code - https://dockinnqueue.topitsolutions.co.nz/ or https://dockinnqueue.topitsolutions.co.nz/addqueue <br>
                            2. Queue Monitor - https://dockinnqueue.topitsolutions.co.nz/monitor <br>
                            3. TEchnician Dashboard - https://dockinnqueue.topitsolutions.co.nz/accounts/dashboard uname: admtest pword:!pass1234
                            Features! <br>
                            1. Uses QR Code to lodge a Queue <br>
                            2. Realtime monitoring of Queue <br>
                            3. IT Dashboard for ICT staff <br>
                            4. Print Report <br>
                            5. Avaialble in Github and Docker Hub </b>
                            <p></p>
                            <a target="_blank" style="color: blue" href="https://dockinnqueue.topitsolutions.co.nz/">Click here to view site!<a/> <br>
                        </span>
                    </div>
                </li>

                <li>
                    <div class="collapsible-header">
                        Guest/Visitor Portal LogIn
                    </div>
                    <div class="collapsible-body">
                        <span>
                            This App allows Guest/Visitor to sign in and sign out when visiting the Company and will notify the person being visited via Email.
                            Report of Visitors for the Admin Panel
                            <p></p>
                            <a target="_blank" style="color: blue" href="https://visitorpass.topitsolutions.co.nz/">Click here to view site!<a/>
                        </span>
                    </div>
                </li>
                

                <li>
                    <div class="collapsible-header">
                        Prepare Driving NZ - Quiz App
                    </div>
                    <div class="collapsible-body">
                        <span>
                            Driving question for NZ. Huge Database of questions that you can try.
                            Once done, it will show the result as well as percentage. It will also show how many questions you got as well as the inCorrect answers. <br>
                            Avaialble in Github and Docker Hub </b>

                            <p></p>
                            <a target="_blank" style="color: blue" href="https://preparedrivingnz.topitsolutions.co.nz">Click here to view site!<a/>
                        </span>
                    </div>
                </li>

                
                <li>
                    <div class="collapsible-header">
                        Kuzina
                    </div>
                    <div class="collapsible-body">
                        <span>
                            Welcome to Kuzina, your soon-to-be ultimate guide to Filipino cuisine! Get ready to embark on a culinary journey across each region of the Philippines. From the vibrant flavors of Luzon to the rich traditions of Mindanao, Kuzina is your passport to discovering the diverse and delicious world of Filipino food. Stay tuned as we prepare to launch and bring you the best of our culinary heritage. Mabuhay! </b>

                            <p></p>
                            <a target="_blank" style="color: blue" href="https://kuzina.topitsolutions.co.nz/">Click here to view site!<a/>
                        </span>
                    </div>
                </li>

                <li>
                    <div class="collapsible-header">
                        Car Care New Zealand
                    </div>
                    <div class="collapsible-body">
                        <span>
                            Introducing a modern, user-friendly website template tailored for car care businesses. Built with Django for secure functionality, MSSQL for efficient data handling, and Bootstrap for a responsive design, this template delivers a smooth, professional experience for both clients and providers.
With easy navigation, booking forms, and customer reviews, potential clients can quickly find what they need. Optimized for mobile, this template is designed to boost visibility, customer engagement, and business growth.
Elevate your car care business with a polished online presence and make client connections seamless.
 </b>

                            <p></p>
                            <a target="_blank" style="color: blue" href="https://carcarenz.balaydalakay.com/">Click here to view site!<a/>
                        </span>
                    </div>
                </li>

                

                
                
                <li>
                    <div class="collapsible-header">
                        Rate or Service App
                    </div>
                    <div class="collapsible-body">
                        <span>
                            This app was made when I attended an Agile Training which the speaker manually asking us how do we rate him.
                            He draws 5 smiley in the board and ask what rate (from 1 - 5) we gave it to him. 
                            THe site has an admin panel, which you can ad speaker names and their corresponding topics.
                            Also there is a Bar graph that will show the breakdown of all the rate.  <br>
                            Avaialble in Github and Docker Hub </b>
                            <p></p>
                            <a target="_blank" style="color: blue" href="https://rateourservice.topitsolutions.co.nz/">Click here to view site!<a/>
                        </span>
                    </div>
                </li>

                <li>
                    <div class="collapsible-header">
                        Financial Service Website Template
                    </div>
                    <div class="collapsible-body">
                        <span>
                            Designed for financial advisors, insurance brokers, and financial service professionals, FinancialService provides an elegant and intuitive website experience that builds trust and strengthens client relationships. Our template is more than just visually appealing—it’s built to enhance client interaction and support business growth.
Key Features:
Effortless Navigation: Users can easily explore your services, from financial planning to investment advice, thanks to a streamlined and intuitive layout.
Online Consultations: Allow clients to book appointments directly, making it simple to connect and address their needs in real-time.
Client Success Stories: Share client testimonials and success stories to build credibility and showcase the real-world impact of your services.
Device Compatibility: Optimized for both desktop and mobile, this template ensures a seamless experience across all devices.
Enhanced Visibility: Built with SEO in mind, FinancialService helps improve your search visibility, making it easier for clients to find you online.
Elevate Your Brand with FinancialService
Ready to take your financial service business to the next level? FinancialService empowers you to create a lasting first impression, providing a clean, professional, and welcoming space for clients to learn more about your services and get in touch </b>
                            <p></p>
                            <a target="_blank" style="color: blue" href="https://financeservice.topitsolutions.co.nz/">Click here to view site!<a/> <br>
                        </span>
                    </div>
                </li>
                <li>
                    <div class="collapsible-header">
                        Property NZ | Web Template
                    </div>
                    <div class="collapsible-body">
                        <span>
                            Property Listings: Browse a wide range of properties, including residential, rental, and investment options.
Advanced Search Filters: Narrow down your search by location, property type, price, and more.
Property Details: Access in-depth property information, including photos, descriptions, and key specifications.
User-Friendly Interface: An intuitive, responsive design that works seamlessly on both desktop and mobile.
Tech Stack
PropertyNZ is built with:
Django for a robust backend, handling data and site functionality.
HTML5, Bootstrap and CSS for a clean, modern design that enhances user experience.
JavaScript for interactive elements, ensuring smooth navigation and responsive features.
MSSQL for reliable data management, enabling fast and accurate property searches. </b>
                            <p></p>
                            <a target="_blank" style="color: blue" href="https://propertynz.topitsolutions.co.nz/">Click here to view site!<a/> <br>
                        </span>
                    </div>
                </li>

                <li>
                    <div class="collapsible-header">
                        Mediplus | Web Template
                    </div>
                    <div class="collapsible-body">
                        <span>
                            Introducing MediPlus, a website template crafted specifically for GP clinics and healthcare providers. Developed with Django Framework, MSSQL for efficient data handling, and Bootstrap for a clean, responsive design, MediPlus offers a reliable platform for patient engagement.
With intuitive navigation, online appointment booking, and a section for patient reviews, MediPlus makes it easy for patients to access information and book appointments from any device. Optimized for both desktop and mobile, this template is designed to boost online visibility and streamline patient communication.
Enhance your clinic’s digital presence with this professional and easy-to-use website template tailored for healthcare providers. </b>
                            <p></p>
                            <a target="_blank" style="color: blue" href="https://betterclean.topitsolutions.co.nz/">Click here to view site!<a/> <br>
                        </span>
                    </div>
                </li>
                <li>
                    <div class="collapsible-header">
                        Cleaning Service Website Template
                    </div>
                    <div class="collapsible-body">
                        <span>
                            Presenting a clean, professional website template designed for cleaning businesses. Built with Django for secure, reliable functionality, MSSQL for seamless data management, and Bootstrap for a responsive, modern look, this template provides an effortless experience for clients and business owners alike.
With simple navigation, booking options, and client testimonials, users can find the services they need quickly. Optimized for mobile, this template helps cleaning businesses increase online visibility and improve customer engagement.
Enhance your business’s online presence and make booking services easy with this tailored template. </b>
                            <p></p>
                            <a target="_blank" style="color: blue" href="https://mediplus.topitsolutions.co.nz/">Click here to view site!<a/> <br>
                        </span>
                    </div>
                </li>

                <li>
                    <div class="collapsible-header">
                        Photography Business for Client - Proposed
                    </div>
                    <div class="collapsible-body">
                        <span>
                            Proposed design for a photography Business. </b>
                            <p>It comes with admin page and Booking Service Feature</p>
                            <p></p>
                            <a target="_blank" style="color: blue" href="https://photography.topitsolutions.co.nz">Click here to view site!<a/> <br>
                        </span>
                    </div>
                </li>
                <li>
                    <div class="collapsible-header">
                        Professional Plumbing Service Website Template
                    </div>
                    <div class="collapsible-body">
                        <span>
                            Introducing a modern, user-friendly website template built specifically for plumbing service businesses, designed to help you make a lasting impression online. Crafted with a powerful tech stack, including Django for robust backend functionality, MSSQL for efficient data management, and Bootstrap for a responsive and clean design, this template provides a seamless experience for both business owners and customers.
                            With intuitive navigation, service booking forms, customer testimonials, and a clear call-to-action layout, this template ensures potential customers find exactly what they need quickly and effortlessly. Every detail, from interactive service listings to mobile-optimized features, has been thoughtfully included to help plumbing businesses increase visibility, improve customer engagement, and drive growth.
                            Choose this template to elevate your online presence and make connecting with clients easier than ever. 
                            <p></p>
                            <a target="_blank" style="color: blue" href="https://plumbernz.topitsolutions.co.nz">Click here to view site!<a/> <br>
                        </span>
                    </div>
                </li>

                <li>
                    <div class="collapsible-header">
                        Evans Cartoons
                    </div>
                    <div class="collapsible-body">
                        <span>
                            When I was working at Smartlogic Ltd, we have a client and needed to bring back his website, it was made in wordpress and credentials unknown and cant contact the person who made it</b>
                            It was agreed that It will need to be rewritten but different programming language (Laravel) and will copy the old site as much as I can.
                            <p>Language: Laravel</p>
                            <p>DB: MySql</p>
                            <p>Hosted by OpenHost</p>
                            <p>User Admin Dashboard to upload multiple images by category</p>
                            <a target="_blank" style="color: blue" href="https://www.evanscartoons.com/">Click here to view site!<a/> <br>
                        </span>
                    </div>
                </li>

                <li>
                    <div class="collapsible-header">
                        Cake NZ
                    </div>
                    <div class="collapsible-body">
                        <span>
                            Template for Cake/Pastry Products </b>

                            <p></p>
                            <a target="_blank" style="color: blue" href="https://cakenz.topitsolutions.co.nz/">Click here to view site!<a/>
                        </span>
                    </div>
                </li>


                
              </ul>
        </div>
    </section>


{% endblock %}